.scoreboard.style-scope.scoreboard-card {
    text-transform: uppercase;
    padding-top: .5em;
    text-align: center;
    font-size: 1.33rem;
}

.left-aligned.style-scope.scoreboard-card {
    float: left;
    width: 50%;
}

.future-scoreboard.style-scope.scoreboard-card {
    display:inline-block;
    width: 50%;
}

.title.style-scope.scoreboard-card {
    border: 1px solid;
}

.score-large-text.style-scope.scoreboard-card {
    font-size: 2rem;
}

.green {
	color: #1cbb1c;
}

.red {
	color: red;
}

.seed-app-0 main.seed-app {
	margin-left: 0 !important;
}

.no-bottom-padding {
	padding-bottom: 0.33rem !important;
}

.collapse-top-margin {
	margin-top: 2em;
}

.p-left-column {
	width: 50%;
    float: left;
    margin: 0;
    margin-top: 1em;
}

.p-right-column {
	width: 45%;
    display: inline-block;
    margin: 0;
    margin-top: 1em;
    margin-left: 5px;
}

.collapse-span {
	width: 100%;
	display:inline-block;
}

.spec-div-margin {
	margin-top: .5em;
    margin-bottom: 1em;
}