<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-sample-cards/blank-card.html">
<link rel="import" href="../../bower_components/px-view-header/px-view-header.html">
<dom-module id="partpicker-view">
  <template>
    <px-view-header title="Park Picker" style="display: block; margin-bottom: 6px;"></px-view-header>
    <blank-card id="myCard">
      Let's get part picking 
    </blank-card>
  </template>
  <script>
    Polymer({
      is: 'partpicker-view',
      properties: {},
      ready: function() {
        console.log('partpicker-view ready()')
      }
    });
  </script>
</dom-module>
